// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TZT MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "E&xit",                       IDM_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About ...",                  IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOGEX 0, 0, 170, 62
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About TZT"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            ICC_ANIMATE_CLASS,IDC_STATIC,14,14,21,20
    LTEXT           "TZT, Version 1.0.0 Pre-Release",IDC_STATIC,42,14,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2015",IDC_STATIC,42,26,114,8
    DEFPUSHBUTTON   "OK",IDOK,113,41,50,14,WS_GROUP
END

IDD_AUDIO DIALOGEX 0, 0, 251, 116
STYLE DS_SETFONT | DS_3DLOOK | DS_CONTROL | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
    CONTROL         "&Enable Audio Fix",IDC_TZFIX_AUDIO_ENABLE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,8,73,8
    CONTROL         "&Compatibility Mode",IDC_TZFIX_AUDIO_COMPATIBILITY,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,7,24,73,8
    COMBOBOX        IDC_TZFIX_AUDIO_CHANNELS,165,7,77,151,CBS_DROPDOWNLIST | WS_DISABLED
    COMBOBOX        IDC_TZFIX_AUDIO_RATE,165,22,77,135,CBS_DROPDOWNLIST | WS_DISABLED
    EDITTEXT        IDC_TZFIX_AUDIO_STATUS,7,38,235,69,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "Maximum Audio Channels",IDC_TZFIX_CHANNEL_LABEL,80,8,82,9,WS_DISABLED
    LTEXT           "Mixing Sample Rate",IDC_TZFIX_RATE_LABEL,80,24,64,9,WS_DISABLED
END

IDD_DRIVER_TWEAKS DIALOGEX 0, 0, 364, 181
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "nVidia Driver Tweaks (Tales of Zestiria.exe)"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,7,162,50,14,BS_CENTER | BS_VCENTER
    PUSHBUTTON      "Cancel",IDCANCEL,307,162,50,14
    COMBOBOX        IDC_PRERENDERED_FRAMES,103,15,98,124,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_VSYNC,103,32,98,107,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Adaptive VSYNC",IDC_ADAPTIVE_VSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,12,53,63,10
    CONTROL         "SLI Frame Pacing (""Smooth"" VSYNC)",IDC_SMOOTH_VSYNC,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,78,52,125,10
    COMBOBOX        IDC_SLI_MODE,103,71,98,90,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_POWER_POLICY,103,88,98,73,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_COMBO5,273,19,77,30,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Allow Negative LOD Bias",IDC_NEGATIVE_LOD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,212,35,93,10
    COMBOBOX        IDC_SHIM_MODE,273,66,77,96,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Override App Policy",IDC_SHIM_APP_OVERRIDE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,212,81,78,8
    CONTROL         "Ignore OEM",IDC_IGNORE_OEM,"Button",BS_AUTOCHECKBOX | BS_RIGHT | WS_TABSTOP,293,81,58,8,WS_EX_RIGHT
    CONTROL         "Allow Async Present",IDC_ASYNC_PRESENT,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,212,91,80,8
    CONTROL         "Invert Priority",IDC_PRIORITY_INVERSION,"Button",BS_AUTOCHECKBOX | BS_RIGHT | WS_TABSTOP,293,91,58,8,WS_EX_RIGHT
    GROUPBOX        "Performance Tweaks",IDC_STATIC,7,7,198,98
    LTEXT           "Max Pre-Rendered Frames:",IDC_STATIC,12,17,89,8
    LTEXT           "VSYNC Mode:",IDC_STATIC,12,34,44,8
    LTEXT           "SLI Mode:",IDC_STATIC,12,73,33,8
    LTEXT           "Power Saving Policy:",IDC_STATIC,12,90,67,8
    LTEXT           "Suggested Settings:\r\n\r\n   Max Pre-Rendered Fames:\t1 (Minimum Latency)\r\n   \t\t\t\t2 (Minimum Stutter)\r\n   VSYNC Mode:\t\t\tApplication Preference\r\n   SLI Mode (if applicable):\tSingle-GPU\r\n   Power Saving Policy:\t\tAdaptive",IDC_STATIC,9,104,196,57
    GROUPBOX        "Image Quality Tweaks",IDC_STATIC,207,7,150,46
    LTEXT           "Texture LOD Bias:",IDC_STATIC,212,21,59,8
    EDITTEXT        IDC_QUALITY_DESC,208,104,147,57,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_DISABLED | NOT WS_BORDER
    GROUPBOX        "NVIDIA Optimus Settings",IDC_STATIC,207,55,150,50
    LTEXT           "Shim Mode:",IDC_STATIC,212,67,38,9
END

IDD_FRAMERATE DIALOGEX 0, 0, 250, 115
STYLE DS_ABSALIGN | DS_SETFONT | DS_3DLOOK | DS_CONTROL | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_BORDER
EXSTYLE WS_EX_TRANSPARENT | WS_EX_CONTROLPARENT
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
    COMBOBOX        IDC_TZFIX_PRERENDER_LIMIT,185,98,57,561,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "Triple Buffering",IDC_TZFIX_TRIPLE_BUFFERING,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,100,63,8
    LTEXT           "Fudge Factor:",IDC_TZFIX_FUDGE_FACTOR_LABEL,133,36,45,9,WS_DISABLED
    EDITTEXT        IDC_TARGET_FPS,80,7,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Target FPS:",0,7,9,39,9
    CONTROL         "&Enable Stutter Fix",IDC_TZFIX_FRAMERATE_STUTTER_FIX,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,36,75,8
    CONTROL         "&Yield Processor",IDC_TZFIX_FRAMERATE_YIELD,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,64,69,8
    CONTROL         "&Allow Fake Sleep",IDC_TZFIX_FRAMERATE_FAKESLEEP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,75,75,8
    CONTROL         "&Minimize Latency",IDC_TZFIX_FRAMERATE_MIN_LATENCY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,133,64,74,8
    CONTROL         "Allow &Windowed Mode (AMD)",IDC_TZFIX_FRAMERATE_ALLOW_WINDOWED,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,133,9,105,8
    EDITTEXT        IDC_TZFIX_FUDGE_FACTOR,185,33,57,14,ES_AUTOHSCROLL | WS_DISABLED
    LTEXT           "Pre-Rendered Frame Limit",IDC_STATIC,96,100,82,9
END

IDD_OSD DIALOG 0, 0, 249, 115
STYLE DS_ABSALIGN | DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "<TODO>",0,109,53,30,9
END

IDD_PLUGINS DIALOG 0, 0, 249, 115
STYLE DS_ABSALIGN | DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
BEGIN
    LTEXT           "<TODO>",0,109,53,30,9
END

IDD_STEAM DIALOG 0, 0, 249, 115
STYLE DS_ABSALIGN | DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
BEGIN
    CONTROL         "Play Sound on Achievement Unlock",IDC_TZFIX_STEAM_PLAY_SOUND,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,7,130,8
    CONTROL         "Screenshot on Achievement Unlock",IDC_TZFIX_STEAM_TAKE_SCREENSHOT,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,20,130,8
    CONTROL         "Allow Broadcasting",IDC_TZFIX_STEAM_ALLOW_BROADCASTS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,100,76,8
END

IDD_GRAPHICS DIALOG 0, 0, 249, 115
STYLE DS_ABSALIGN | DS_SETFONT | DS_3DLOOK | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_SYSMENU
FONT 8, "Ms Shell Dlg"
BEGIN
    EDITTEXT        IDC_TZFIX_GRAPHICS_POSTPROCESS_SCALE,89,50,40,14,ES_AUTOHSCROLL
    CONTROL         "Force Complete Mipmap Chains",IDC_TZFIX_GRAPHICS_FORCE_MIPMAPS,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,100,115,8
    CONTROL         "Disable Scissor Test",IDC_TZFIX_GRAPHICS_DISABLE_SCISSOR,
                    "Button",BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP,162,9,80,8
    COMBOBOX        IDC_TZFIX_GRAPHICS_ARC,89,7,68,100,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    LTEXT           "Post-Processing Scale:",0,7,52,74,9
    LTEXT           "Aspect Ratio Correction:",IDC_STATIC,7,9,78,9
    LTEXT           "Shadow Resolution:",IDC_STATIC,7,68,64,9
    COMBOBOX        IDC_TZFIX_GRAPHICS_SHADOW_RES,89,66,68,100,CBS_DROPDOWNLIST | CBS_HASSTRINGS
    CONTROL         "Double-Res Sorey",IDC_TZFIX_GRAPHICS_DOUBLE_RES_SOREY,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,162,68,75,8
END

IDD_TZT DIALOGEX 0, 0, 425, 270
STYLE DS_ABSALIGN | DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | DS_NOFAILCREATE | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_OVERLAPPEDWINDOW | WS_EX_CONTROLPARENT | WS_EX_APPWINDOW | WS_EX_NOINHERITLAYOUT
CAPTION "Zestiria Tweak"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_TZFIX_TABS,"SysTabControl32",TCS_MULTILINE | TCS_TOOLTIPS | TCS_FOCUSNEVER | WS_TABSTOP,11,91,252,141
    DEFPUSHBUTTON   "Save",IDOK,7,240,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,217,240,50,14
    COMBOBOX        IDC_RESOLUTION,52,17,52,123,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_REFRESH_RATE,161,16,30,123,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Match Desktop",IDC_MATCH_DESKTOP,209,15,55,14
    CONTROL         "Window",IDC_BORDER_WINDOW,"Button",BS_AUTORADIOBUTTON,11,34,41,10
    GROUPBOX        "Display Properties",IDC_STATIC,7,7,260,41
    CONTROL         "Borderless Window",IDC_BORDERLESS_WINDOW,"Button",BS_AUTORADIOBUTTON,53,34,77,10
    CONTROL         "Fullscreen",IDC_FULLSCREEN,"Button",BS_AUTORADIOBUTTON,131,34,48,10
    CONTROL         "VSYNC",IDC_VSYNC,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,196,34,37,10
    COMBOBOX        IDC_ANISOTROPY,51,61,76,123,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_TEXTURE_RES,177,61,85,123,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_LEVEL_OF_DETAIL,335,17,76,13,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_SHADOW_QUALITY,335,32,76,13,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_FXAA_LEVEL,335,47,76,13,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        IDC_DRAW_DISTANCE,335,62,76,13,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Resolution:",IDC_STATIC,11,20,37,8
    LTEXT           "Refresh Rate:",IDC_STATIC,113,19,46,8
    LTEXT           "Hz",IDC_STATIC,195,19,10,8
    GROUPBOX        "Texture Quality",IDC_STATIC,7,50,260,30
    LTEXT           "Filter Type:",IDC_STATIC,12,63,38,8
    LTEXT           "Resolution:",IDC_STATIC,135,63,36,9
    GROUPBOX        "General Performance Settings",IDC_STATIC,270,7,148,73
    LTEXT           "Level of Detail:",IDC_STATIC,276,19,49,8
    LTEXT           "Shadow Quality:",IDC_STATIC,276,34,54,8
    GROUPBOX        "Debug Utilities",IDC_DEBUG_GROUP,270,82,148,182,NOT WS_VISIBLE
    GROUPBOX        "GPU Info",IDC_GPU_GROUP,270,82,148,182
    EDITTEXT        IDC_GPUINFO,273,92,138,169,ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL,WS_EX_LEFTSCROLLBAR
    PUSHBUTTON      "nVidia Driver Tweaks",IDC_NV_DRIVER_TWEAKS,275,237,138,24,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      " Backup Config Files",IDC_BACKUP_CONFIG,275,161,138,30,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      " Restore Config Files",IDC_RESTORE_CONFIG,275,196,138,30,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Delete All Config Files",IDC_NUKE_CONFIG,275,231,138,30,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
    LTEXT           "FXAA Level:",IDC_STATIC,276,49,40,9
    LTEXT           "Draw Distance:",IDC_STATIC,276,64,50,9
    GROUPBOX        "Community Patch Configuration",IDC_STATIC,7,82,260,155
    PUSHBUTTON      "Install Community Patch",IDC_INSTALL_TZFIX,275,92,138,30,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
    PUSHBUTTON      "Uninstall Community Patch",IDC_UNINSTALL_TZFIX,275,126,138,30,BS_CENTER | BS_VCENTER | BS_MULTILINE | NOT WS_VISIBLE
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_TZT ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_TZT                 ICON                    "TZT.ico"
IDI_STEAM               ICON                    ".\\steam.ico"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_AUDIO, DIALOG
    BEGIN
        RIGHTMARGIN, 250
        BOTTOMMARGIN, 115
    END

    IDD_FRAMERATE, DIALOG
    BEGIN
        RIGHTMARGIN, 249
    END

    IDD_GRAPHICS, DIALOG
    BEGIN
    END

    IDD_TZT, DIALOG
    BEGIN
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_AUDIO AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_TZT AFX_DIALOG_LAYOUT
BEGIN
    0
END

IDD_FRAMERATE AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Tales of Zestria Tweak v 1.0.0"
END

STRINGTABLE
BEGIN
    IDC_TZT                 "Tales of Zestria Tweak v 1.0.0"
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

